services:
  postgresql:
    image: 'dietwise-postgres:latest'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - data_db:/var/lib/postgresql/data
  keycloak:
    image: 'dietwise-keycloak:latest'
    ports:
      - '8280:8080'
    depends_on:
      - postgresql
  dietwise-renderer:
    image: 'dietwise-renderer:latest'
    ports:
      - '3000:3000'
    environment:
      DW_RENDERER_TEST_DIR: ${DW_RENDERER_TEST_DIR:-}
  dietwise:
    image: 'dietwise:latest'
    ports:
      - '8180:8180'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      QUARKUS_DATASOURCE_USERNAME: dietwise
      QUARKUS_DATASOURCE_PASSWORD: dietwise
      QUARKUS_DATASOURCE_REACTIVE_URL: vertx-reactive:postgresql://postgresql:5432/dietwise
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgresql:5432/dietwise
      QUARKUS_OIDC_AUTH_SERVER_URL: http://keycloak:8280/realms/dietwise
      QUARKUS_REST_CLIENT_RENDERER_URL: http://dietwise-renderer:3000/
      QUARKUS_LANGCHAIN4J_OLLAMA_BASE_URL: http://host.docker.internal:11434
    depends_on:
      - postgresql
      - dietwise-renderer
      - keycloak

volumes:
  data_db:
